{% extends "base.html" %}

{% block content %}
<h2 class="header"> Why 'У тебя есть'?</h2>
<p>As children, we play games to learn what things are called, like Go Fish.</p>
<p>So, I thought, <i>why not practice Russian with a game?</i> У тебя есть is exactly that, a game for English speakers
looking to practice their Russian.</p>
<p>Since 'У тебя есть' means 'Do you have' it made sense to make a game that takes the format of Go Fish. You ask for
something and the other player replies truthfully.</p>
{% endblock %}
